@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&family=Oswald:wght@300;700&display=swap');

/*  font-family: 'Open Sans', sans-serif;
    font-family: 'Oswald', sans-serif; */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 20px;
  color: #fff;
  background-color: black;
  max-width: 1280px;
  margin: 0 auto;
}
/* header */
header {
  position: sticky;
  top: 0;
  background: black;
  opacity: 0.8;
  height: 86px;
  padding: 0 10%;
  /* Brug af flexbox her ødelægger det for .navbar flexboxen */
  display: grid;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  font-style: italic;
}

header a {
  text-decoration: none;
  color: #999;
}

.border a {
  color: #fff;
}
.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style-type: none;
  gap: 30px;
}

.navbar ul:first-child {
  width: 100%;
}

.navbar ul:last-child {
  gap: 22px;
}

.border {
  border-bottom: 4px solid #6c0c0e;
  padding: 0 1%;
}

/* main */

main {
  font-family: 'Oswald', sans-serif;
}

main article {
  padding: 0 10%;
  font-weight: 300;
  color: #999;
}

.hero {
  background: url(img/hero_bg.jpg) no-repeat;
  background-size: 100%;
  height: 720px;
}

.hero_logo {
  max-width: 1280px;
  padding: 2em 10% 0 10%;
}

.article_1 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-bottom: 6em;
  align-items: center;
  text-align: center;
}

.article_text {
  display: flex;
  gap: 30px;
}

.article_p {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.article_p_space {
  padding-top: 1.5em;
}

.about {
  margin-bottom: 1.5em;
}

.bold {
  font-weight: 700;
  color: #e5e5e5;
}

.video {
  padding-top: 11em;
  display: flex;
}

iframe {
  margin: 0 auto;
}

/* footer */

footer {
  font-size: 0.8em;
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  color: #999;
  padding: 7em 0;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* gallery */

.images_con {
  max-width: 1041px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.images_small {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
  justify-content: center;
}

.images_con img {
  padding-top: 1em;
}

/* characters */

.hide {
  display: none;
}

.main_characters {
  max-width: 1280px;
  padding: 0 10%;
  display: grid;
  grid-template-columns: repeat(2, minmax(150px, 507px));
  gap: 5em;
}

.main_characters section:nth-child(even) {
  align-items: end;
}

.main_characters p {
  color: #999;
}
.main_characters section img {
  max-width: 400px;
  border: 1px solid #e5e5e5;
}

.main_characters section {
  display: flex;
  flex-direction: column;
}

.main_characters section h4:nth-child(even) {
  padding: 2em 0;
}

.flex_con_chara {
  display: flex;
  gap: 2.7em;
}

.flex_con_chara_white p {
  color: #fff;
}

.flex_con_chara div {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.main_characters section h4:nth-child(odd) {
  padding-bottom: 3em;
}

.red {
  color: #6c0c0e;
}

/* contact */

.form_contact {
  padding: 0 10%;
  color: #e5e5e5;
}
input:focus,
textarea:focus {
  outline: none;
}

.form_contact form {
  display: flex;
  flex-direction: column;
  gap: 70px;
}

#message {
  height: 320px;
}
.form_contact h3 {
  padding-bottom: 4em;
}

.form_contact input,
.form_contact textarea {
  width: 100%;
  height: 69px;
  background-color: #1a1a1a;
  border: 1px solid #6c0c0e;
  color: #e5e5e5;
  font-size: 24px;
  font-family: 'Oswald', sans-serif;
  padding: 1% 1%;
}

.form_submit {
  display: flex;
  justify-content: space-between;
}

.form_submit input {
  width: initial;
}

.newsletter_check {
  gap: 1em;
  align-items: center;
}

.newsletter_check input {
  width: 2em;
}

#send_msg {
  width: 10em;
  transition: background-color 0.5s;
}

#send_msg:hover {
  background-color: #343434;
}

.form_submit div:first-child {
  display: flex;
}

/* Media queries */

@media only screen and (max-width: 800px) {
  /* header */

  header {
    padding: 0 5%;
  }

  .navbar ul {
    gap: 1em;
  }

  .navbar ul:last-child {
    gap: 0.3em;
  }

  /* main */

  .hero {
    background: url(img/hero_bg_small.jpg) no-repeat;
    background-size: 100%;
    height: 340px;
  }

  .hero_logo {
    padding: 0 5%;
  }

  .hero_logo img {
    padding-top: 1em;
    width: 70%;
    height: 100%;
  }

  .article_1,
  .article_2 {
    padding: 2em 5%;
  }

  .video {
    padding: 0 5%;
  }

  .video iframe {
    width: 100%;
    height: 325px;
  }

  /* Gallery */

  .images_con {
    padding: 0 5%;
  }

  .images_small {
    gap: 0;
    justify-content: space-between;
  }

  .images_small img {
    width: 18%;
  }

  .big_image {
    width: 100%;
  }

  /* Characters */

  .main_characters {
    padding: 0 5%;
    gap: 1em;
  }

  .main_characters img {
    width: 100%;
  }

  .main_characters section h4:nth-child(even) {
    padding-top: 0;
  }

  /* Contact */

  .newsletter_check p {
    width: 50%;
  }

  .form_contact {
    padding: 0 5%;
  }

  .form_submit {
    gap: 1em;
  }
}

/* Mobile */
@media only screen and (max-width: 450px) {
  /* header */

  header {
    position: static;
    height: initial;
    font-size: 26px;
  }

  .navbar {
    flex-direction: column-reverse;
    gap: 1em;
    margin: 2em 0 1em 0;
  }

  .navbar ul {
    flex-direction: column-reverse;
    align-items: center;
    gap: 1em;
  }

  .navbar ul:last-child {
    flex-direction: row;
    justify-content: center;
  }

  #border {
    border: none;
  }

  /* main index*/
  main {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
  }

  .video {
    order: -1;
    padding: 0;
    height: 220px;
  }
  .video iframe {
    height: 100%;
    width: 100%;
  }

  .hero {
    background: none;
    height: auto;
    padding-bottom: 2em;
    order: -2;
  }

  .hero_logo {
    padding: 0;
  }

  .hero_logo img {
    width: 100%;
  }

  .article_1 {
    padding-top: 3em;
  }

  .article_text {
    flex-direction: column;
  }

  /* gallery */
  .images_con img:last-child {
    display: none;
  }

  .images_con {
    width: 100%;
    height: 100%;
  }

  .images_small {
    display: flex;
    flex-direction: column;
  }

  .images_small img {
    width: 100%;
    height: 100%;
  }

  /* Character */

  .show {
    display: none;
  }

  .hide {
    display: flex;
    flex-direction: column;
    gap: 5em;
  }

  .hide section p {
    color: #999;
  }

  .hide .first_para {
    padding: 1.5em 0;
  }

  .hide section h4 {
    color: #e5e5e5;
    padding-bottom: 2em;
  }

  .hide .flex_con_chara_white p {
    color: #fff;
  }

  .hide section img {
    width: 100%;
  }

  /* contact */

  .form_submit {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .newsletter_check {
    justify-content: center;
  }
}

@media only screen and (max-width: 550px) and (min-width: 450px) {
  /* Header */
  /* Making sure its not overlapping eachother */
  .navbar {
    flex-direction: column;
  }

  .navbar ul {
    justify-content: center;
  }
}

/* Hero logo */

@media only screen and (max-width: 1140px) and (min-width: 800px) {
  /* Making sure Gallery images scales probably */
  .images_con {
    padding: 0 5%;
  }

  /* Making sure hero logo scales probably */
  .hero_logo img {
    width: clamp(30%, 60%, 100%);
  }

  /* Making sure form button does not overlap */

  .form_submit {
    gap: 1em;
  }
}

/* JS animation */

.on_hover {
  transform: scale(1.15);
  transition: transform 0.5s;
}
